<div class="row img-rounded">
    <hr>
    <small>
        <div class="col-md-4" STYLE="text-align: left">
            V0.8
        </div>
        <div class="col-md-4" STYLE="text-align: center">
            Developed by Zinto Labs
        </div>
        <div class="col-md-4" STYLE="text-align: right">
            <div class="d-none d-lg-flex social-links align-items-center">
             <a href="https://conorbreen.com/" class="linkedin" target="_blank" rel="noopener noreferrer"><i
                        class="bi bi-browser-chrome"></i></a>
                <a href="https://www.linkedin.com/in/conor-breen-55a336107/" class="linkedin" target="_blank"
                   rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                </a>
            </div>
        </div>
    </small>
</div>
