{% import 'appbuilder/general/lib.html' as lib %}

{% block head_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename = 'jquery.js')}}">\x3C/script>')</script>
    <script>
        $(document).ready(function() {
            $("#location").select2({  // init Select2 on form's name field
                placeholder: "{{ form.location.label.text }}",
                allowClear: true,
                "width": "style"
            });
        });
        $(function () {
            $('#search_button').on('click', function () {
                var location = document.getElementById('location').value
                var date_select = document.getElementById('date_select').value
                $.ajax({
                    url: "/sunriseview/graph/",
                    data: {
                        location: location,
                        date_select: date_select
                    },
                    dataType: 'json',
                    beforeSend: function () {
                        $("#sunrise_chart_container").html("Generating...");
                        $("#date_chart_container").html("");
                    },
                    success: function (response) {
                        console.log(response);
                        var sunrise_chart = response["sunrise_chart"]
                        var date_chart = response["date_chart"]
                        vegaEmbed('#sunrise_chart_container', sunrise_chart).catch(console.warn);
                        vegaEmbed('#date_chart_container', date_chart).catch(console.warn);
                    },
                    error: function (xhr) {
                        $("#sunrise_chart_container").html(xhr);
                        $("#date_chart_container").html("");
                    }
                });
            });
        });
        $(document).ready(function() {
            $("#location").select2({  // init Select2 on form's name field
                placeholder: "{{ form.location.label.text }}",
                allowClear: true,
                "width": "style"
            });
        });

    </script>

{% endblock %}

{% block body %}

    <div id="header">
        <h3>Twilight phases, sunrise, and sunset times for a selected location.</h3>
        <br>
    </div>

    {% set begin_sep_label = '<td class="col-md-3>' %}
    {% set end_sep_label = '</td>' %}
    {% set begin_sep_field = '<td>' %}
    {% set end_sep_field = '</td>' %}

    <div class="col-md-3">
        <form id="sunrise_form" action="" method="post" enctype="multipart/form-data">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        {% for col in include_cols %}
                            {% set field = form[col] %}
                            {% if field.name not in exclude_cols %}
                                <tr>
                                    {{ lib.render_field(field, begin_sep_label, end_sep_label, begin_sep_field, end_sep_field) }}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
        </form>
        <button type='button' id="search_button" class="btn btn-sm btn-primary">Search</button>
        <div class="col">
            <hr class="solid">
            <div id="sunrise_chart_container" class="sunrise-chart-container"></div>
            <hr class="solid">
            <div id="date_chart_container" class="date-chart-container"></div>
        </div>
    </div>
{% endblock %}