{% extends 'appbuilder/init.html' %}
{% import 'appbuilder/baselib.html' as baselib %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>

{% endblock %}

{% block head_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}

{% block body %}

    {% include 'appbuilder/general/confirm.html' %}
    {% include 'appbuilder/general/alert.html' %}

    {% block navbar %}
        <header class="top" role="header">
            {% include 'my_navbar.html' %}
        </header>
    {% endblock %}

    {% block page %}
        <div class="content">
            <div class="container">
                <div class="row">
                    {% block messages %}
                        {% include 'appbuilder/flash.html' %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

