{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}
    {{ lib.panel_begin("") }}
    <div style="text-align: left;">
    <h1><strong>Copernicus</strong></h1>
    <br>
    <h3>This app is designed to display sunrise and sunset times and aid in astronomy.</h3>
    <br>
    <h4>It has been designed using Flask and custom HTML. Astral calculations are done using Skyfield.</h4>
    <h4>Currently the Sunrise module is the only one completed and in production.</h4>
    <h4>It charts sunrise and sunset times across the year and on a selected date for a selected location.</h4>
    <h4>Twilight phases and their times are also included.</h4>
    <h4>This module is a re-implementation from scratch of the excellent Sunrise calculator provided by <strong><a href="https://www.timeanddate.com/sun/ireland/dublin">timeanddate.com.</a></strong></h4>
    </div>
{% endblock %}